@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --torque-background: 223 70% 4%;
    --torque-foreground: 214.29, 30%, 91%;

    --torque-card: 223 70% 4%;
    --torque-card-foreground: 210 40% 98%;

    --torque-popover-foreground: 222.2 84% 4.9%;
    --torque-popover: 210 40% 98%;

    --torque-primary: 0 100% 100%;
    --torque-primary-foreground: 222.2 47.4% 11.2%;

    --torque-secondary: 217.2 32.6% 17.5%;
    --torque-secondary-foreground: 210 40% 98%;

    --torque-muted: 215 20% 65%;
    --torque-muted-foreground: 215 20.2% 65.1%;
    --torque-muted-background: 223 47% 11%;

    --torque-accent: 217.2 32.6% 17.5%;
    --torque-accent-foreground: 210 40% 98%;
    --torque-highlight: 180, 100%, 78.8%;

    --torque-destructive: 0 75.8% 42.6%;
    --torque-error: 0 100% 35%;
    --torque-destructive-foreground: 210 40% 98%;

    --torque-border: 217.2 32.6% 17.5%;
    --torque-input: 217.2 32.6% 17.5%;
    --torque-ring: 212.7 26.8% 83.9%;

    --torque-radius: 0.5rem;
  }
}

@layer components {
  * {
    @apply border-border;
  }

  .torque-blink .blink .text-text-button {
    background-color: hsl(var(--torque-primary));
    color: hsl(var(--torque-primary-foreground));
  }

  .torque-blink .blink .rounded-button {
    border-radius: 6px;
  }

  .torque-blink .blink .text-text-button span {
    font-weight: 400;
  }

  /* Hide the image block in the large blink */
  .torque-blink .blink .border .block:first-child {
    display: none;
  }

  .torque-blink .blink .border {
    @apply border-border;
  }

  .torque-blink .blink .shadow-action {
    box-shadow: none;
  }

  .torque-blink .blink .bg-bg-primary {
    @apply bg-primary/5;
  }
}
